@model OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<hr />
<div class="container">
    <div class="form-inline">
        <div class="row">
            <div class="col-md-3 col-sm-12 product-list-item no-margin">
                <p>@Model.Product.Name</p>
            </div>
            <div class="col-md-9 col-sm-12">
                <div class="form-row">
                    @for (var a = 0; a < Model.Product.Attributes.Count; a++)
                    {
                        <div class="col-12 form-group margin-v-10" data-product-id="@Model.Product.Attributes[a].Id">
                            <label class="min-width-100">@Model.Product.Attributes[a].Name</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text min-width-75" id="inputGroupPrepend">@Model.Product.Attributes[a].Unit</span>
                            </div>
                            <input type="number" asp-for="@Model.Product.Attributes[a].Value" class="form-control" disabled />
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>